@import '../config'
@require '../modules/transitions'

.login-main
    position absolute
    top 80px
    right 0
    left 0
    bottom 0
    margin auto
    width 500px

    
	.presentation
		position relative
		float left
		background $main-color
		width 200px
		height 285px
		text-align center
		padding 30px 0px
		
		.logo
			img
				max-width 140px	
		.virtual-sistemas
			position absolute
			bottom 0px
			left 0px
			right 0px
			img
				max-width 140px		
	.login-form
		float left
		width 300px
		height 285px
		background #ffffff
		padding 20px
		h2
			font-size 20px
			margin 0px
			text-align center
		.user
			&-input
			&-icon
				position relative
		.password
			&-input
			&-icon
				position relative