//Definições globais
$overlay-color = rgba(67, 40, 132, 0.35)

$main-color = #673b78
$second-color = #1f97d3
$third-color = #f58634
$fourth-color = #f39c12

//Configurações globais de fonte
$main-font-color = #696e7e
$font-size = 14px
$main-font = "Roboto", sans-serif

//Menu
$menu-color = #623773
$sub-menu-color = #fff

//Tabelas
$thead-color = #f4f4f4
$thead-border-color = #efefef
$thead-font-color = #9268a2

//Logotipo
$logo-background-color = #136fa7


//Opções de usuário
$user-button-color = #5f376f