.footer
	position absolute
	padding 10px 0px 10px 0px
	left 0px
	right 0px
	bottom 0
	margin auto
	text-align center
	background #2d2d2d
	.copyright
		font-family $main-font
		color #ffffff
		
[data-menu-expanded='true']
	.footer
		left 0px