.icon
	&-menu
		background-size 25px
		background-repeat no-repeat
		width 25px
		height 25px
		display block
		float left
		
		&-principal
			background-image url('../img/menu/icone--principal.svg');
			
		&-cadastro
			background-image url('../img/menu/icone--cadastro.svg');
			
		&-arquivo
			background-image url('../img/menu/icone--arquivo.svg');
			
		&-relatorio
			background-image url('../img/menu/icone--relatorio.svg');